@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
	* {
		@apply box-border;
		color: theme(colors.base.content);
		object-fit: cover;
		object-position: center;

		/* Font rendering corrections */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-smooth: never;
	}

	/* Prevent false padding on right of the screen */
	html {
		width: 100%;
		overflow-x: hidden;
		position: relative;
		background-color: theme(colors.base.200);
	}

	body {
		@apply min-h-screen;
		background: radial-gradient(theme(colors.base.100), theme(colors.base.200));
	}

	/* Responsive */
	:root {
		--max-content-width: 1800px;
		--page-padding: clamp(12px, 5vw, 20px);
	}
	@media only screen and (min-width: theme(screens.md)) {
		:root {
			--page-padding: 32px;
		}
	}
	@media only screen and (min-width: theme(screens.md)) {
		:root {
			--page-padding: 64px;
		}
	}
	@media only screen and (min-width: theme(screens.2xl)) {
		:root {
			--page-padding: max(100px, 5vw);
		}
	}
	@media only screen and (min-width: theme(screens.4xl)) {
		:root {
			--page-padding: min(150px, 10vw);
		}

		section,
		header,
		footer {
			max-width: var(--max-content-width);
			margin-left: auto;
			margin-right: auto;
		}
	}

	section {
		padding: var(--page-padding);
	}
	header,
	footer {
		padding-left: var(--page-padding);
		padding-right: var(--page-padding);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		/* TODO - Update the opacity */
		text-shadow: 0px 0px 32px rgb(0, 0, 0, 25%);
	}

	.text-xl {
		line-height: 28px;
	}
}

@layer utilities {
	.card-shadow {
		box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.2);
	}

	.text-subtitle {
		@apply text-sm/5;

		color: theme(colors.base.content-muted);
	}
}

@layer components {
	.card {
		@apply card-shadow relative z-0 flex flex-col rounded-xs p-4 md:p-5 lg:rounded-md lg:p-6;
		background: theme(colors.base.cardBase) padding-box;
		backdrop-filter: blur(96px);
		border: 1.5px solid transparent;

		/* With help from: https://benfrain.com/how-to-create-rounded-gradient-borders-with-any-background-in-css/ */
		&::before {
			content: '';
			position: absolute;
			border-radius: inherit;
			border: inherit;

			/* to make the glow border outside the box, preventing shadowing by the bg color */
			inset: -1.5px;

			background: linear-gradient(
					to bottom right,
					rgba(255, 255, 255, 40%),
					rgba(255, 255, 255, 10%) 50%,
					rgba(255, 255, 255, 5%) 70%,
					rgba(255, 255, 255, 15%)
				)
				border-box;

			/* remove the padding box part off the before object */
			mask:
				linear-gradient(#fff 0 0) padding-box,
				linear-gradient(#fff 0 0);
			mask-composite: exclude;
		}
	}

	.card-clickable {
		transition: all 0.3s;
		cursor: pointer;
	}
	.card-clickable:hover {
		scale: 1.04;
	}

	.image-card {
		--border-radius: theme(borderRadius.sm);
		@apply card-shadow relative z-0 flex flex-col;
		border: 1.5px solid transparent;

		overflow: hidden;
		border-radius: var(--border-radius);

		background: linear-gradient(
				to bottom right,
				rgba(255, 255, 255, 100%),
				rgba(255, 255, 255, 40%)
			)
			border-box;

		& > * {
			border-radius: calc(var(--border-radius) * 0.93);
		}

		@media only screen and (min-width: theme(screens.md)) {
			--border-radius: theme(borderRadius.lg);
		}
	}

	.chip {
		background-color: rgb(0, 0, 0, 15%);
		backdrop-filter: blur(128px);
		padding: 8px 12px;
		border-radius: 20px;
		color: theme(colors.base.content-muted);
		font-size: 14px;
	}
}
