@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/container-queries';

@theme {
	--font-*: initial;
	--font-sans: Commissioner, Helvetica, sans-serif;

	--color-base-100: #1986b9;
	--color-base-200: #16547e;
	--color-base-300: #0f3c5a;
	--color-base-content: #ffffff;
	--color-base-content-muted: #d7e2f1;
	--color-base-card-base: rgba(0, 0, 0, 0.2);

	--color-secondary: #ff6fb3;
	--color-accent: #f9f871;

	--color-blog-base-100: #121211;
	--color-blog-base-content: #d0dde0;
	--color-blog-base-content-muted: #83a1a5;

	--radius-3xs: 12px;
	--radius-2xs: 16px;
	--radius-xs: 20px;
	--radius-sm: 28px;
	--radius-md: 32px;
	--radius-lg: 36px;
	--radius-xl: 42px;
	--radius-2xl: 48px;

	--breakpoint-3xl: 1710px;
	--breakpoint-4xl: 1920px;
}

@utility prose-custom {
	--tw-prose-body: var(--color-blog-base-content);
	--tw-prose-headings: var(--color-blog-base-content);
	--tw-prose-lead: var(--color-blog-base-content);
	--tw-prose-links: var(--color-blog-base-content);
	--tw-prose-bold: var(--color-blog-base-content);
	--tw-prose-counters: var(--color-blog-base-content);
	--tw-prose-bullets: var(--color-blog-base-content);
	--tw-prose-hr: var(--color-blog-base-content);
	--tw-prose-quotes: var(--color-blog-base-content);
	--tw-prose-quote-borders: var(--color-blog-base-content);
	--tw-prose-captions: var(--color-blog-base-content);
	--tw-prose-code: var(--color-blog-base-content);
	--tw-prose-pre-code: var(--color-blog-base-content);
	--tw-prose-pre-bg: var(--color-blog-base-content);
	--tw-prose-th-borders: var(--color-blog-base-content);
	--tw-prose-td-borders: var(--color-blog-base-content);
	--tw-prose-invert-body: var(--color-blog-base-content);
	--tw-prose-invert-headings: var(--color-blog-base-content);
	--tw-prose-invert-lead: var(--color-blog-base-content);
	--tw-prose-invert-links: var(--color-blog-base-content);
	--tw-prose-invert-bold: var(--color-blog-base-content);
	--tw-prose-invert-counters: var(--color-blog-base-content);
	--tw-prose-invert-bullets: var(--color-blog-base-content);
	--tw-prose-invert-hr: var(--color-blog-base-content);
	--tw-prose-invert-quotes: var(--color-blog-base-content);
	--tw-prose-invert-quote-borders: var(--color-blog-base-content);
	--tw-prose-invert-captions: var(--color-blog-base-content);
	--tw-prose-invert-code: var(--color-blog-base-content);
	--tw-prose-invert-pre-code: var(--color-blog-base-content);
	--tw-prose-invert-pre-bg: rgb(0 0 0 / 50%);
	--tw-prose-invert-th-borders: var(--color-blog-base-content);
	--tw-prose-invert-td-borders: var(--color-blog-base-content);
}

.prose {
	/* Apply the colors to actual elements */
	& :where(p, li):not(:where([class~='not-prose'] *)) {
		color: var(--tw-prose-body);
	}

	& :where(h1, h2, h3, h4, h5, h6):not(:where([class~='not-prose'] *)) {
		color: var(--tw-prose-headings);
		@apply font-bold;
	}

	& :where(a):not(:where([class~='not-prose'] *)) {
		color: var(--tw-prose-links);
	}

	& :where(strong):not(:where([class~='not-prose'] *)) {
		color: var(--tw-prose-bold);
	}

	& :where(code):not(:where([class~='not-prose'] *)) {
		color: var(--tw-prose-code);
	}

	& :where(img):not(:where([class~='not-prose'] *)) {
		margin-right: auto;
		margin-left: auto;
		max-width: 100%;
	}
}

pre.shiki {
	@apply rounded-xs;
}

pre.shiki code {
	tab-size: 2;
	-moz-tab-size: 2;
	white-space: pre-wrap;
	/* word-break: break-word; */
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
	*,
	::after,
	::before,
	::backdrop,
	::file-selector-button {
		border-color: var(--color-gray-200, currentcolor);
	}
}

@utility card-shadow {
	box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.2);
}

@utility text-shadow {
	text-shadow: 0px 0px 32px rgb(0, 0, 0, 15%);
}

@utility text-subtitle {
	@apply text-sm/5;
	color: var(--color-base-content-muted);
}

/* ---------------------------------------- */

@utility card {
	--border-radius: var(--radius-sm);
	@apply card-shadow relative z-0 flex flex-col p-4 md:p-5  lg:p-6;
	background: var(--color-base-card-base) padding-box;
	backdrop-filter: blur(96px);
	border-radius: var(--border-radius);
	/* border: 1.5px solid transparent; */

	/* With help from: https://benfrain.com/how-to-create-rounded-gradient-borders-with-any-background-in-css/ */
	&::before {
		content: '';
		position: absolute;
		border-radius: inherit;
		/* border: inherit; */
		border: 1.5px solid transparent;

		/* to make the glow border outside the box, preventing shadowing by the bg color */
		inset: 0px;

		background: linear-gradient(
				to bottom right,
				rgba(255, 255, 255, 40%),
				rgba(255, 255, 255, 10%) 50%,
				rgba(255, 255, 255, 5%) 70%,
				rgba(255, 255, 255, 15%)
			)
			border-box;

		/* remove the padding box part off the before object */
		mask:
			linear-gradient(#fff 0 0) padding-box,
			linear-gradient(#fff 0 0);
		mask-composite: exclude;
	}
}

@utility card-content {
	border-radius: var(--border-radius);
	border: inherit;
	border: 1.5px solid transparent;
}

@utility card-clickable {
	transition: all 0.3s;
	cursor: pointer;
	&:hover {
		scale: 1.04;
	}
}

@utility image-card {
	--border-radius: var(--radius-sm);
	@apply card-shadow relative z-0 flex flex-col;
	border: 1.5px solid transparent;

	overflow: hidden;
	border-radius: var(--border-radius);

	background: linear-gradient(to bottom right, rgba(255, 255, 255, 100%), rgba(255, 255, 255, 40%))
		border-box;

	& > * {
		border-radius: calc(var(--border-radius) * 0.93);
	}

	@media only screen and (min-width: --theme(--breakpoint-md)) {
		--border-radius: var(--radius-lg);
	}
}

@utility chip {
	background-color: rgb(0, 0, 0, 15%);
	/* backdrop-filter: blur(128px); */
	padding: 8px 12px;
	border-radius: 20px;
	color: var(--color-base-content-muted);
	font-size: 14px;
}

/* ---------------------------------------- */

@layer base {
	* {
		@apply box-border;
		color: var(--color-base-content);
		object-fit: cover;
		object-position: center;

		/* Font rendering corrections */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		font-smooth: never;
	}

	/* Prevent false padding on right of the screen */
	html {
		width: 100%;
		overflow-x: hidden;
		position: relative;
		background-color: var(--color-base-200);
	}

	body {
		@apply min-h-screen;
		background: radial-gradient(var(--color-base-100), var(--color-base-200));
	}

	/* Responsive */
	:root {
		--max-content-width: 1400px;
		--page-padding: max(5vw, calc((100% - var(--max-content-width)) / 2));
	}

	section {
		padding: clamp(56px, var(--page-padding), 10vh) var(--page-padding);
	}

	header,
	footer {
		padding-left: var(--page-padding);
		padding-right: var(--page-padding);
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	p {
		@apply text-shadow;
	}
}
